# Mac system files
.DS_Store

# RStudio files
.Rproj.user/

# Quarto cache/output
.quarto/
_site/

# R environment
# renv/

# Logs
derby.log

# Optional: data
data/

# Docker files
docker-compose.yml
requirements-bin.txt
requirements-src.R
rstudio-prefs.json

# Java
rjavaenv/


# Other
*.Rproj


/.quarto/
